.SideBar {
  background: #dfdfe2;
  width: 15rem;
  height: 100%;
  padding: 1.5rem 0.5rem 0 0.5rem;
}

.SideBar_itmes > .suchBar {
  border-bottom: solid 1px #385899;
}

.suchBar > input {
  border: none;
  width: 13rem;
  height: 3rem;
  font-size: 2rem;
  margin: 0 0 5px 0;
  background-color: #cccccf;
}

.checkBox {
  background-color: #4a76ce;
  border-radius: 0px 98px 98px 98px;
  -moz-border-radius: 0px 98px 98px 98px;
  -webkit-border-radius: 0px 98px 98px 98px;
  color: white;
  font-size: 1.6rem;
  text-align: center;
  padding: 4px 4px 10px 4px;
  display: block;
  margin: 0.8rem 0;
}
.checkBox:hover {
  cursor: pointer;
  background-color: #233861;
}
.checkBoxBlork > input {
  display: none;
}

.checkBoxBlork > input[type='checkbox']:checked + label {
  background-color: #f5a117;
}
