section {
  display: grid;
  grid-template-rows: repeat(auto-fill, 250px);
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 15px;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

.siteBlock {
  align-content: space-around;
  width: 100%;
  margin: 15px;
  border: 2px solid black;
}

.siteBlock a {
  color: black;
  text-decoration: none;
}

.siteLogo {
  border: 2px solid black;
  width: 100%;
  height: 50%;
}
