section {
  display: grid;
  grid-template-rows: repeat(2, 350px);
  grid-template-columns: repeat(2, 350px);
  grid-gap: 15px;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  margin-top: 10px;
}

.siteBlock {
  width: 100%;
  margin: 15px;
  border: 2px solid black;
}
